{
  "site": {
    "hostname": "yoursite.com",
    "port": 80,
    "email": "<EMAIL>"
  },
  "auth": {
    "google": {
      "clientId": "<OAUTH2_CLIENTID>",
      "clientSecret": "<OAUTH2_SECRET>"
    }
  },
  "db": {
    "address": "mongodb://localhost/",
    "database": "ReadMyFeed",
    "schemaVersion": 1
  }
}
