extends layout

block content
  .hero-unit
    h1= title
    p #{title} is a simple RSS/Atom feed aggregator. Log in using your existing
     | Google account and it will automatically import all your subscriptions.

    - if(!isLoggedIn)
      p
        a.btn.btn-primary.btn-large(href='/auth/google') Register