include includes/_header

doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    -if(typeof(title) != 'undefined') 
      title #{title}

    block layout.styles
      link(rel="stylesheet", href="/stylesheets/bootstrap.css")
      link(rel='stylesheet', href='/stylesheets/style.css')

    block layout.scripts
      //script(type='text/javascript', data-main="/javascripts/main", src="/javascripts/require.js")

  body
    mixin header
    section#content
      .container.alertContainer
        -if(typeof(error) != 'undefined') 
          div.alert.alert-block
            a.close(data-dismiss='alert',href='#') x
            h4.alert-heading Warning
            | #{error}
        -else if(typeof(message) != 'undefined') 
          div.alert.alert-info
            a.close(data-dismiss='alert',href='#') x
            h4.alert-heading Information 
            | #{message}
      .container
        block content
